---
title: Free OpenSource AS3 Library | AS3Utils
description: AS3Collections is a project based on the Java Collections Framework. It aims to be a standard solution for data structures (e.g. List, Maps, Queues) for basically any Flash/Flex/AIR AS3 application or framework.
priority: 1.0
---
- content_for :main_content_title do
  | About
markdown:
  AS3Collections is a project based on the <a href="http://en.wikipedia.org/wiki/Java_collections_framework" target="_blank">Java Collections Framework</a> with <a href="/docs/coverage-report">95% of unit testing line coverage</a>. It aims to be a standard solution for data structures (e.g. Lists, Maps, Queues) for basically any Flash/Flex/AIR AS3 application or framework.

  AS3Collections implements only the most relevant objects of the Java Collections Framework, and is different in some aspects where it makes sense to the AS3 context. So its not intended to be a porting.

  The ASDoc is also based on the <a href="http://docs.oracle.com/javase/7/docs/technotes/guides/collections/index.html" target="_blank">Java Collections Framework documentation</a>.

  Here are some of the implementations provided by the library:

  - ArrayList, TypedList, SortedList
  - LinearQueue, TypedQueue, PriorityQueue
  - ArrayListMap, SortedArrayListMap, HashMap
  - and more...

  #### Dependencies

  - AS3Collections depends on <a href="http://as3coreaddendum.org" target="_blank">AS3CoreAddendum</a> and <a href="http://as3utils.org" target="_blank">AS3Utils</a>.

  For more information see the docs.
